.success-page {
    gap: 50px;
    margin-top: 55px;

}

.success-page-title {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
}

.copy {
    margin: 0 auto;
}

h1 {
    line-height: normal;
}