.success-page {
    gap: 50px;
    margin-top: 55px;

}

.success-page-title {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
    margin-top: 50px;
}

.copy {
    margin: 0 auto;
}

h1 {
    line-height: normal;
}
.back{
    background-color: transparent;
    border: 1px solid #686868;
    color: #404040;
    padding: 10px 30px;
    border-radius: 15px;
    width: max-content;
    margin: 0 auto;
    margin-top: 30px;
}